/* GLOBAL */
::-moz-selection{ background:#FF0; color:#000; text-shadow:none }
::selection{ background:#FF0; color:#000; text-shadow:none }
.clearfix:after,.clearfix:before{display:table;content:" ";font-size:0;height:0}
.clearfix:after{clear:both}
* html .clearfix{zoom:1}
.floatFixer{display:block;height:0;clear:both;visibility:hidden;font-size:0;margin:0;padding:0;line-height:0}
body, html{ width:100%; height:100%; overflow:hidden; background:#000; }
.wrapper .hidden{ display:none; }

/* SETUP */

.wrapper{ width:100%; height:100%; position:relative; }
.wrapper .scene{ width:100%; height:100%; }
.wrapper .scene #Canvas, .wrapper .scene .hdImage, .wrapper .scene #mainVideo, .wrapper .scene #loopVideo, .wrapper .scene #pointers, .wrapper .scene .scrupWrapper .controller, .wrapper #startPage, .wrapper .selections .content{ position:fixed; top:0; left:0; }
.wrapper .scene .hdImage{ pointer-events: none; width:100%; height:100%; background-size:cover; background-position:center; }

/* Selections */
.wrapper .selections{ display:none; }
.wrapper.selectionPage .selections{ display:block; }

/* Levels */
.wrapper .scene #mainVideo{ z-index:1; }
.wrapper .scene #pointers{ z-index:2; }
.wrapper .scene #Canvas{ z-index:3; }
.wrapper .scene .hdImage{ z-index:4; }
.wrapper .scene .scrupWrapper .controller{ z-index:5; }
.wrapper .scene #loopVideo{ z-index:6; }
.wrapper .selections .content{ z-index:7; }
.wrapper #startPage{ z-index:8; }

/* Start Page */
.wrapper.startingPage .scene, .wrapper.startingPage .timeline, .wrapper.startingPage .sidebar{ display:none; }

.wrapper.startingPage #startPage{ display:block; }
.wrapper #startPage{ display:none; }
.wrapper #startPage .inside{ position:relative; top:0; left:0; width:100%; height:100%; overflow:hidden; }
.wrapper #startPage .inside .back{ width:100%; }
.wrapper #startPage .inside .slogan{ position:absolute; top:50%; left:0; right:0; margin:0 auto; margin-top:-15%; }
.wrapper #startPage .inside .bell{ position:absolute; left:58%; top:24%; }
.wrapper #startPage .inside .bell span{ width:84px; height:2px; }


/* Scrup */
.wrapper .scene .scrupWrapper .controller, .wrapper .scene .scrupWrapper #Canvas, .wrapper .scene .scrupWrapper .hdImage{ visibility:hidden; will-change:opacity; opacity:0; pointer-events: none; -webkit-transition:opacity 444ms ease-in-out;-moz-transition:opacity 444ms ease-in-out;-o-transition:opacity 444ms ease-in-out;transition:opacity 444ms ease-in-out;-webkit-transition-timing-function:ease-in-out;-moz-transition-timing-function:ease-in-out;-o-transition-timing-function:ease-in-out;transition-timing-function:ease-in-out; }
.wrapper.scrup .scene .scrupWrapper .controller, .wrapper.scrup .scene .scrupWrapper #Canvas, .wrapper.scrup .scene .scrupWrapper .hdImage{ opacity:1; visibility:visible; pointer-events: auto; }

/* Controller */
#Controller{ width:100%; }
.wrapper .scene .scrupWrapper .controller .holder{ position:absolute; }
.wrapper .scene .scrupWrapper .controller .holder .inside{ position:relative; width:100%; height:100%; }
.wrapper .scene .scrupWrapper .controller .holder .inside #content{ position:absolute; font-family: 'trade'; color:#FFF; font-size:59px; will-change:opacity; opacity:1; pointer-events: none; -webkit-transition:opacity 222ms ease-in-out;-moz-transition:opacity 222ms ease-in-out;-o-transition:opacity 222ms ease-in-out;transition:opacity 222ms ease-in-out;-webkit-transition-timing-function:ease-in-out;-moz-transition-timing-function:ease-in-out;-o-transition-timing-function:ease-in-out;transition-timing-function:ease-in-out; }
.wrapper .scene .scrupWrapper .controller .holder .inside #content small{ font-family: 'trade'; color:#FFF; font-size:22px; display:block; }
.wrapper .scene .scrupWrapper .controller .holder .inside #content.change{ opacity:0; }

/* POINTERS */
.wrapper .scene #pointers > a{ visibility:hidden; will-change:opacity; opacity:0; pointer-events: none; -webkit-transition:opacity 222ms ease-in-out;-moz-transition:opacity 222ms ease-in-out;-o-transition:opacity 222ms ease-in-out;transition:opacity 222ms ease-in-out;-webkit-transition-timing-function:ease-in-out;-moz-transition-timing-function:ease-in-out;-o-transition-timing-function:ease-in-out;transition-timing-function:ease-in-out; }
.wrapper .scene #pointers > a.show{ opacity:1; visibility:visible; pointer-events: auto; }

.wrapper .scene #pointers > a.pointer{ position:absolute; top:0; left:0; border-radius:50%; width:20px; height:20px; display:block; z-index:2; -webkit-transition:all .2s linear; }
.wrapper .scene #pointers > a.pointer.red{ background:red; }
.wrapper .scene #pointers > a.pointer.blue{ background:blue; }
.wrapper .scene #pointers > a.pointer.yellow{ background:yellow; }
.wrapper .scene #pointers > a::after{ background:black; opacity:.3; content:''; width:100px; height:100px; z-index:-1; position:absolute; left:-40px; top:-40px; }

/* PRELOADING */ 
.wrapper .preloading{ background:red; width:0; height:5px; transition: width 0.5s ease; position:absolute; top:0; left:0; }
.wrapper .preloading.completed{ transition: opacity 0.5s ease; opacity:0;  }

/* Pages */
#wrapper.runningPage .scene .scrupWrapper .controller .holder{ left:62%; top:27%; }
#wrapper.runningPage .scene .scrupWrapper .controller .holder .inside #content{ left:33%; top:53%; }